html
  {
    transform:rotateZ(360deg);
    overflow-x:hidden;
  }
#home
{
  background-color:#38464f;
  font-family:bahnschrift;
  color:#fff;
  background-image:linear-gradient(to right,#76bd05,#38464f);
  background-size:500% 100%;
  animation:gradient-ani 6s infinite alternate;
  font-family:bahnschrift;
}
@keyframes gradient-ani
{
  0%
  {
    background-position-x:0%;
  }
  100%
  {
    background-position-x:80%;
  }
}
#title
{
  font-weight:bolder;
}
@media
(min-width:1281px)
{
  #logo
  {
    height:70px;
  }
  #nome_login,#pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:20px auto;
  }
}
@media 
(min-width:1025px) and (max-width:1280px)
{
  #logo
  {
    height:68px;
  }
  #nome_login,
  #pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:20px auto;
  }
}
@media (min-width:768px) and (max-width:1024px)
{
  #logo
  {
    height:65px;
  }
  #nome_login,
  #pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:20px auto;
  }
}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape)
{
  #logo
  {
    height:50px;
  }
  #nome_login,#pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:20px auto;
  }
}
@media (min-width:481px) and (max-width:767px)
{
  #logo
  {
    height:45px;
  }
  #nome_login,#pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:20px auto;
  }
}
@media (min-width:320px) and (max-width:480px)
{
  #logo
  {
    height:30px;
  }
  #nome_login,#pass_login
  {
    width:80%;
  }
  #login-box
  {
    margin:auto;
  }
}
@media (min-width:200.1px) and (max-width:319.9px)
{
  #logo
  {
    height:25px;
  }
  #login-box
  {
    width:100%;
    margin:auto;
  }
}
body::-webkit-scrollbar
{
  width:5px;
  scrollbar-shadow-color:black;
}
body::-webkit-scrollbar-track
{
  background:#fff;
}
body::-webkit-scrollbar-thumb
{
  background-color:#38464f;
  border-radius:20px;
  border:0 solid #fff;
}
.offcanvas-header,.offcanvas-title
{
  background-color:#38464f!important;
}
.nav-link
{
  color: #38464f !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bolder;
}
.offcanvas-body
{
  background-color:#8cce24!important;
}
.navbar,
.navbar-nav
{
  background-color: #8cce24!important;
}
#login-box
{
  background-color:#a6ff8b3f;
  max-width:400px;
  text-align:center;
  border-radius:10px;
  flex-direction:row;
  padding:5px 0 10px 0;
  display:block;
  animation:home .5s;
}
#nome_login,#pass_login
{
  border:none;
  padding:10px 0 10px 4px;
  color:#224407;
  font-weight:700;
  font-size:15px;
}
#nome_login:focus,#pass_login:focus
{
  background-color:#eaffc8;
  border-style:none;
  outline:0;
  transition:.5s;
  box-shadow:0 0 5px #fff;
}
#enter
{
  color:#fff;
  background-color:#224407;
  border-radius:5px;
  font-size:20px;
  border:none;
  padding:10px 15px;
  font-weight:700;
  transition:.5s;
}
#enter:hover
{
  background-color:#8cce24;
  transition:.5s;
  color:#224407;
}
#index
{
  background-color:#3e7a0d;
  font-family:bahnschrift;
  color:#fff;
}
#page
{
  display:none;
  animation:home .5s;
}
@keyframes home
{
  from
  {
    opacity:0;
    transform:translate3d(0,300px,0);
    background-color:#000;
  }
  to
  {
    opacity:1;
    transform:translate3d(0,0,0);
  }
}